<nav>
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/about">À propos</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    
      <li class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </li>
      <li class="search-container">
        <input type="text" placeholder="Recherche">
        <button >Rechercher</button>
      </li>
    </ul>
  </nav>
  